body {
  font-size: 11pt;
  font-family: Helvetica;
}
.DivQueries {
  font-size: 0.9em;
  display:inline-block;
}
.DivTables {
  font-size: 0.9em;
  display:inline-block;
  vertical-align: top;
}
.DivJoins {
  font-size: 0.9em;
  display:inline-block;
  vertical-align: top;
}
a:any-link {
  color:black;
  text-decoration: none;
}
a:hover {
  color:blue;
  text-decoration: underline;
}
a.EventTable {
  color:#990000;
}


table.greyGridTable {
  border: 2px solid #FFFFFF;
  renamed-width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 0.9em;
}
table.greyGridTable tr:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable th {
  font-size: 0.9em;
  font-weight: bold;
  color: #333333;
  text-align: center;
  background-color: #CCC;
  xxborder-left: 2px solid #999;
  border-bottom: 1px solid #666;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}
div {
  text-align:left;
}
div.stmt {
  font-family: monospace;
  font-size: 0.9em;
}
div.keyword {
  display: inline-block;
  font-weight: bold;
  color: #004499;
  clear: none;
}
div.function {
  display: inline-block;
  font-style: italic;
  color: #909;
  clear: none;
}
div.tableref {
  display: inline-block;
  font-weight: bold;
  color: royalblue;
  clear: none;
  xxborder-radius: 3px;
  xxborder:1px dotted #000099;
  background-color: #FFF;
  padding-left:3px;
  padding-right:3px;
  margin-left:2px;
  margin-right:2px;
}
div.op {
  display: inline-block;
  font-weight: bold;
  color: #000;
  clear: none;
}
div.field {
  display: inline-block;
  font-weight: bold;
  color: #000;
  clear: none;
}
div.op_as {
  display: inline-block;
  color: #666;
  clear: none;
}
div.stringval {
  display: inline-block;
  color: #060;
  clear: none;
}
